/* шапка сайта */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #659DBD;
  color: #fff;
}

.header__logo img {
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar-menu ul {
  display: flex;
  list-style-type: none;
  margin: 30px;
  padding: 0;
  justify-content: center;
  
}

.navbar-menu li {
  margin: 10px;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* меню в шапке */
nav {
  background-color: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0;
}

nav a  {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 15px; /* рассмотрение между кнопками */
  color: #292f71;
  text-decoration: none;
  border-radius: 20px;
  background-color: #ffffff;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-weight: 150;
  font-size: 1.0em;
}

nav a:hover {
  color: #ffffff;
  background-color: #292f71;
}

/* footer */
footer {
  background-color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container img {
  max-width: 100%;
  margin-right: 20px;
}

.container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}

/* панель с контактами */
.contact-panel {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  padding: 5px 0;
}
.contact-panel ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-panel li {
  margin: 0 10px;
}
.contact-panel a {
  color: #292f71;
  text-decoration: none;
  font-size: 15px;

}
.contact-panel span {
  color: #292f71;
  text-decoration: none;
  font-size: 15px;

}
.contact-panel img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 25px;
}

/* карусель */
.full-block-carusel {
  width: 100%;
  background-size: 100%;
  margin-bottom: 15px;
}
.carousel-container {
  width: 600px;
  height: 300px;;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* общий фон*/
.full-width-block {
  background: rgb(212,243,255);
  background: linear-gradient(180deg, rgba(212,243,255,1) 0%, rgba(255,255,255,1) 74%);
  width: 100%;
  background-size: 100% 100%;
}

/* блок 1 */
.content-block {
  max-width: 960px;
  margin:  auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 1px #C1C1C1;1;
  border-radius: 5px;
  margin-bottom: 10px;
}

p.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 55em;
  text-align:justify
}
.header-text {
  text-align: center;
  font-weight: bold;
  color: #292f71;
  font-size: 16pt;
}
/* блок с контакатами */
.contact-block {
  background-color: #ffffff;
  padding: 5px 0;
  text-align: justify;
}
.contact-block span {
  color: #292f71;
  text-decoration: none;
  font-size: 15px;

}
.contact-block img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 25px;
}
.contact-block li {
  margin: 0 10px;
  list-style-type: none;
}
.contact-text {
  text-align: justify;
  font-weight: bold;
  color: #292f71;
  font-size: 13pt;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
}