{% load static %}
<div class="contact-panel">
  <ul>
    <li><img src={% static "img/tel.png"%} alt="Телефон"><span>Tel.:+7 (999) 587-60-02</span></li>
    <li><img src={% static "img/mail.png"%} alt="Почта"> <a href="mailto:yuristmgn@mail.ru">Email: yuristmgn@mail.ru</a></li>
    <li><img src={% static "img/vk.png"%} alt="Вконтакте"> <a href="https://vk.com/pravosudiemgn">Вконтакте</a></li>
    <li><img src={% static "img/WhatsApp.png"%} alt="WhatsApp"> <a href="https://api.whatsapp.com/send/?phone=89995876002&text&type=phone_number&app_absent=0">WhatsApp</a></li>
    <li><img src={% static "img/location.png"%} alt="maps"> <a href="https://go.2gis.com/90phhp" target="_blank">Мы на карте</a></li>
  </ul>
</div>
<div class="navbar">
    <div class="header__logo img">
      <a href="#"><img src={% static "img/logo.png"%} alt="Logo"></a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Услуги и цены</a></li>
        <li><a href="#">Полезные статьи</a></li>
        <li><a href="#">Юридическая практика</a></li>
      </ul>
    </nav>
</div>






                
  